Repository MaibornWolff/ProjectCanvas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write --list-different

add publish script to root
  .github/workflows/publish.yaml
  package.json
  project-canvas/package.json
Due: prettier --write --list-different

fix: remove private
  project-canvas/package.json
Due: prettier --write --list-different

fix: add auth to workflow
  .github/workflows/publish.yaml
Due: none

fix: add persist auth
  .github/workflows/publish.yaml
Due: none

fix: change name back to release
  .github/workflows/publish.yaml
  package.json
  project-canvas/package.json
Due: prettier --write --list-different

fix: add build project
  package.json
Due: prettier --write --list-different

chore: improve file structure
  .github/workflows/dynamic_tests.yaml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/release.yaml
  .github/workflows/static_tests.yaml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
Due: none

Fix release workflow (#57)
  .github/workflows/dynamic_tests.yaml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
  .github/workflows/static_tests.yaml
  .github/workflows/test.yml
  .github/workflows/typecheck.yml
  package.json
  project-canvas/package.json
Due: prettier --write --list-different

add: e2e tests
  .github/workflows/dynamic_tests.yaml
  .github/workflows/release.yaml
  .github/workflows/static_tests.yaml
  .gitignore
  package.json
  project-canvas/e2e/example.spec.ts
  project-canvas/package.json
  project-canvas/playwright.config.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: make jest ignore e2e
  .github/workflows/dynamic_tests.yaml
  project-canvas/jest.config.json
Due: prettier --write --list-different

fix: remove e2e env
  .github/workflows/dynamic_tests.yaml
  project-canvas/e2e/example.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add browser install for ubuntu
  .github/workflows/dynamic_tests.yaml
Due: none

fix: change to windows
  .github/workflows/dynamic_tests.yaml
Due: none

fix: switch back to ubuntu
  .github/workflows/dynamic_tests.yaml
Due: none

add debug
  .github/workflows/dynamic_tests.yaml
Due: none

fix: add extender build to e2e
  package.json
Due: prettier --write --list-different

fix: update gitignore
  .github/workflows/dynamic_tests.yaml
  .gitignore
Due: none

fix: remove debugging
  .github/workflows/dynamic_tests.yaml
Due: none

feat: add e2e test support and workflow(#58)
  .github/workflows/dynamic_tests.yaml
  .github/workflows/release.yaml
  .github/workflows/static_tests.yaml
  .gitignore
  package.json
  project-canvas/e2e/example.spec.ts
  project-canvas/jest.config.json
  project-canvas/package.json
  project-canvas/playwright.config.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

feat: add loging e2e test
  .github/workflows/dynamic_tests.yaml
  project-canvas/e2e/example.spec.ts
  project-canvas/e2e/jiraServerLogin.spec.ts
  project-canvas/playwright.config.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add debug
  .github/workflows/dynamic_tests.yaml
Due: none

fix: adjust e2e test
  project-canvas/e2e/example.spec.ts
  project-canvas/e2e/jiraServerLogin.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: use the playwright docker image
  .github/workflows/dynamic_tests.yaml
Due: none

fix: adjust e2e test
  .github/workflows/dynamic_tests.yaml
Due: none

fix: adjust e2e
  .github/workflows/dynamic_tests.yaml
Due: none

Update README.md
  README.md
Due: prettier --write --list-different

refactor: use electron forge instead of electron builder
  .gitignore
  package.json
  project-canvas/.vscode/.debug.script.mjs
  project-canvas/.vscode/extensions.json
  project-canvas/.vscode/launch.json
  project-canvas/.vscode/tasks.json
  project-canvas/README.md
  project-canvas/electron-builder.json5
  project-canvas/electron/electron-env.d.ts
  project-canvas/electron/main.ts
  project-canvas/electron/preload.ts
  project-canvas/electron/renderer.ts
  project-canvas/forge.config.ts
  project-canvas/index.html
  project-canvas/package.json
  project-canvas/src/assets/styles/app.module.scss
  project-canvas/src/assets/styles/index.css
  project-canvas/src/index.css
  project-canvas/src/main.tsx
  project-canvas/src/samples/node-api.ts
  project-canvas/src/vite-env.d.ts
  project-canvas/tsconfig.json
  project-canvas/vite.config.ts
  project-canvas/vite.main.config.ts
  project-canvas/vite.preload.config.ts
  project-canvas/vite.renderer.config.ts
  project-canvas/yarn.lock
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add vite electron renderer plugin to enable nodejs api in the renderer process
  project-canvas/electron/main.ts
  project-canvas/index.html
  project-canvas/package.json
  project-canvas/src/index.css
  project-canvas/src/main.tsx
  project-canvas/vite.renderer.config.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: correctly load project extender
  project-canvas/electron/OAuthHelper.ts
  project-canvas/electron/main.ts
  project-canvas/electron/main/index.ts
  project-canvas/electron/preload/index.ts
  project-canvas/index.html
  project-canvas/src/vite-env.d.ts
  project-canvas/tsconfig.json
  project-canvas/tsconfig.node.json
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: update yarn lock
  yarn.lock
Due: none

fix: adjust hoisting
  package.json
Due: prettier --write --list-different

fix: adjust e2e tests to work with electron forge
  project-canvas/e2e/example.spec.ts
  project-canvas/index.html
  project-canvas/package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add deref symlinks to electron packager
  package.json
  project-canvas/forge.config.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add executable name to electron packager for linux
  project-canvas/forge.config.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

docs: add ADR for Electron Forge
  doc/architecture-decisions/ADR-010.md
Due: prettier --write --list-different

feat: add publishers to forge config
  project-canvas/forge.config.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add github publisher package
  .github/workflows/release.yaml
  package.json
  project-canvas/forge.config.ts
  project-canvas/package.json
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: rename yarn publish to release (avoid npm publish)
  .github/workflows/release.yaml
  package.json
  project-canvas/package.json
Due: prettier --write --list-different

fix: add windows-latest to release
  .github/workflows/release.yaml
Due: none

refactor: use electron forge instead of electron builder (#61)
  .github/workflows/release.yaml
  .gitignore
  doc/architecture-decisions/ADR-010.md
  package.json
  project-canvas/.vscode/.debug.script.mjs
  project-canvas/.vscode/extensions.json
  project-canvas/.vscode/launch.json
  project-canvas/.vscode/tasks.json
  project-canvas/README.md
  project-canvas/e2e/example.spec.ts
  project-canvas/electron-builder.json5
  project-canvas/electron/OAuthHelper.ts
  project-canvas/electron/electron-env.d.ts
  project-canvas/electron/main.ts
  project-canvas/electron/main/index.ts
  project-canvas/electron/preload.ts
  project-canvas/electron/preload/index.ts
  project-canvas/electron/renderer.ts
  project-canvas/forge.config.ts
  project-canvas/index.html
  project-canvas/package.json
  project-canvas/src/assets/styles/app.module.scss
  project-canvas/src/assets/styles/index.css
  project-canvas/src/main.tsx
  project-canvas/src/samples/node-api.ts
  project-canvas/tsconfig.json
  project-canvas/tsconfig.node.json
  project-canvas/vite.config.ts
  project-canvas/vite.main.config.ts
  project-canvas/vite.preload.config.ts
  project-canvas/vite.renderer.config.ts
  project-canvas/yarn.lock
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --list-different: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
