Repository MaibornWolff/ProjectCanvas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write --list-different

fix
  project-canvas/src/components/login/Login.test.tsx
  project-canvas/src/components/login/jira-cloud/JiraCloudLogin.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

cloud provider error handling and refresh access token (#46)
  project-canvas/electron/main/OAuthHelper.ts
  project-canvas/src/components/login/jira-cloud/loginToJiraCloud.ts
  project-extender/src/index.ts
  project-extender/src/providers/base-provider/BaseProvider.ts
  project-extender/src/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-extender/src/providers/jira-cloud-provider/getAccessToken.ts
  project-extender/src/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: parameters missing in createSubtask in BaseProvider
  project-canvas/src/components/DetailView/Components/AddSubtask/queryFunctions.ts
  project-extender/src/index.ts
  project-extender/src/providers/base-provider/BaseProvider.ts
  project-extender/src/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-extender/src/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix-fetch-backlog-and-search (#45)
  project-canvas/src/components/DetailView/Components/AddSubtask/AddSubtask.tsx
  project-canvas/src/components/DetailView/Components/AddSubtask/queries.ts
  project-canvas/src/components/DetailView/Components/AddSubtask/queryFunctions.ts
  project-canvas/src/components/backlog-view/BacklogView.tsx
  project-canvas/src/components/backlog-view/helpers/backlogHelpers.ts
  project-extender/src/index.ts
  project-extender/src/providers/base-provider/BaseProvider.ts
  project-extender/src/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-extender/src/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: revert accidental editing out attachments in fetchIssue CloudProv, keys after maps, nullchecks
  project-canvas/src/components/DetailView/Components/Attachments/Attachments.tsx
  project-canvas/src/components/DetailView/Components/Labels.tsx
  project-canvas/src/components/DetailView/DetailView.tsx
  project-extender/src/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: refix backlogview size
  project-canvas/src/components/backlog-view/BacklogView.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: backlogView spacings
  project-canvas/src/components/backlog-view/BacklogView.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

feat: handle cancel button on authWindow (#47)
  package.json
  project-canvas/electron/main/OAuthHelper.ts
  project-canvas/src/components/DetailView/Components/Attachments/Attachments.tsx
  project-canvas/src/components/DetailView/Components/Labels.tsx
  project-canvas/src/components/DetailView/DetailView.tsx
  project-canvas/src/components/backlog-view/BacklogView.tsx
  project-canvas/src/components/login/Login.test.tsx
  project-canvas/src/components/login/jira-cloud/JiraCloudLogin.test.tsx
  project-canvas/src/components/login/jira-cloud/JiraCloudLogin.tsx
  project-extender/src/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

feat: add color scheme toggles to modals and fix a few dark mode colors
  project-canvas/src/components/CreateIssue/CreateIssueModal.tsx
  project-canvas/src/components/DetailView/Components/Attachments/Attachments.tsx
  project-canvas/src/components/DetailView/Components/CommentSection/CommentSection.tsx
  project-canvas/src/components/DetailView/DetailView.tsx
  project-canvas/src/components/backlog-view/CreateSprint/CreateSprintModal.tsx
  project-canvas/src/components/backlog-view/Issue/IssueCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: logout button color
  project-canvas/src/components/layout/LogoutButton.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: logout button color final
  project-canvas/src/components/layout/LogoutButton.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix title cards text & trash icon color when switching to dark mode (#48)
  project-canvas/src/components/CreateIssue/CreateIssueModal.tsx
  project-canvas/src/components/DetailView/Components/Attachments/Attachments.tsx
  project-canvas/src/components/DetailView/Components/CommentSection/CommentSection.tsx
  project-canvas/src/components/DetailView/DetailView.tsx
  project-canvas/src/components/StoryMapView/Cards/Base/BaseCard.tsx
  project-canvas/src/components/StoryMapView/Components/DeleteButton.tsx
  project-canvas/src/components/backlog-view/CreateSprint/CreateSprintModal.tsx
  project-canvas/src/components/backlog-view/Issue/IssueCard.tsx
  project-canvas/src/components/layout/LogoutButton.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix truncated overflow text of storymap title cards & action card and instead display it using a tooltip
  project-canvas/src/components/StoryMapView/Cards/ActionCard.tsx
  project-canvas/src/components/StoryMapView/Cards/CaseTitleCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

add text truncate + tooltip also for sublevel cards
  project-canvas/src/components/StoryMapView/Cards/SubActionCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

changed text color of subaction cards to black in order to improve constrast in dark mode
  project-canvas/src/components/StoryMapView/Cards/SubActionCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

add tooltip for level label text in case text becomes too long
  project-canvas/src/components/StoryMapView/Level/LevelControl.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

show tooltips only when text is non-empty
  project-canvas/src/components/StoryMapView/Cards/ActionCard.tsx
  project-canvas/src/components/StoryMapView/Cards/CaseTitleCard.tsx
  project-canvas/src/components/StoryMapView/Cards/SubActionCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

placeholder text for action cards
  project-canvas/src/components/StoryMapView/Cards/ActionCard.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

switch trash icon in storymap dashboard to white when darkmode enabled
  project-canvas/src/components/StoryMapView/Components/DeleteButton.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: path
  project-canvas/tests/e2e.test.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

improve readme
  README.md
  doc/Project Canvas Scrennshots.png
  doc/logo/canvas_logo.svg
  doc/logo/canvas_logo_light.svg
  doc/logo/project_canvas_logo.svg
  doc/logo/project_canvas_logo_light.svg
  project-canvas/package.json
  project-extender/package.json
Due: prettier --write --list-different

docs: amend readme
  README.md
Due: prettier --write --list-different

Improve readme (#51)
  README.md
  doc/Project Canvas Scrennshots.png
  doc/logo/canvas_logo.svg
  doc/logo/canvas_logo_light.svg
  doc/logo/project_canvas_logo.svg
  doc/logo/project_canvas_logo_light.svg
  project-canvas/package.json
  project-extender/package.json
Due: prettier --write --list-different

docs: add licences
  LICENSE
  package.json
  project-extender/LICENSE
Due: prettier --write --list-different

Add licenses (#52)
  LICENSE
  package.json
  project-extender/LICENSE
Due: prettier --write --list-different

feat: add build workflow
  .github/workflows/build.yaml
Due: none

fix: commit yarn lock
  .gitignore
  fake-jira-server/yarn.lock
  project-canvas/yarn.lock
  yarn.lock
Due: none

fix: add author field
  .github/workflows/build.yaml
  package.json
Due: prettier --write --list-different

fix: add email to the author
  project-canvas/package.json
Due: prettier --write --list-different

feat: add build workflow (#53)
  .github/workflows/build.yaml
  .gitignore
  fake-jira-server/yarn.lock
  package.json
  project-canvas/package.json
  project-canvas/yarn.lock
  yarn.lock
Due: prettier --write --list-different

feat: add release workflow
  .github/workflows/release.yaml
  project-canvas/package.json
  project-extender/package.json
Due: prettier --write --list-different

feat: add node version
  .node-version
Due: none

Add release workflow (#55)
  .github/workflows/release.yaml
  .node-version
  project-canvas/package.json
  project-extender/package.json
Due: prettier --write --list-different

fix: add permissions
  .github/workflows/publish.yaml
Due: none

Fix release workflow (#56)
  .github/workflows/publish.yaml
Due: none

add env debug
  .github/workflows/publish.yaml
Due: none

fix publish workflow
  .github/workflows/publish.yaml
  .github/workflows/release.yaml
Due: none

add secret to build
  .github/workflows/publish.yaml
Due: none

remove build step
  .github/workflows/publish.yaml
Due: none

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --list-different: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
