Repository MaibornWolff/ProjectCanvas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add env variable to workflows
  .github/workflows/build.yaml
  .github/workflows/dynamic_tests.yaml
  .github/workflows/release.yaml
Due: none

fix: adjust env variables loading in project extender
  project-extender/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: include external dependencies in bundeled project extender
  project-extender/package.json
  project-extender/rollup.config.js
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: remove node resolver
  project-extender/rollup.config.js
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: add extender dependencies to canvas
  project-canvas/package.json
  yarn.lock
Due: prettier --write --list-different

fix: add asar flag to packagerConfig (speed up build)
  project-canvas/forge.config.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: move project extender logic to electron main process
  project-canvas/electron/main.ts
  project-canvas/electron/preload.ts
  project-canvas/electron/providers/base-provider/BaseProvider.ts
  project-canvas/electron/providers/base-provider/index.ts
  project-canvas/electron/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-canvas/electron/providers/jira-cloud-provider/getAccessToken.ts
  project-canvas/electron/providers/jira-cloud-provider/index.ts
  project-canvas/electron/providers/jira-server-provider/JiraServerProvider.ts
  project-canvas/electron/providers/jira-server-provider/index.ts
  project-canvas/package.json
  project-canvas/src/components/login/jira-cloud/loginToJiraCloud.ts
  project-canvas/src/components/login/jira-server/loginToJiraServer.ts
  project-canvas/src/renderer.d.ts
  project-canvas/types/index.ts
  project-canvas/types/jira.ts
  project-canvas/vite.main.config.ts
  project-canvas/vite.preload.config.ts
  yarn.lock
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: improve structure and add login/logout
  project-canvas/electron/main.ts
  project-canvas/electron/preload.ts
  project-canvas/electron/provider/general.ts
  project-canvas/electron/provider/index.ts
  project-canvas/electron/provider/issues.ts
  project-canvas/electron/provider/login.ts
  project-canvas/electron/provider/setup.ts
  project-canvas/electron/provider/sprints.ts
  project-canvas/electron/providers/base-provider/BaseProvider.ts
  project-canvas/electron/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-canvas/electron/providers/jira-server-provider/JiraServerProvider.ts
  project-canvas/src/components/login/jira-server/Logout.ts
  project-canvas/src/renderer.d.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: migrate general provider functions
  project-canvas/electron/main.ts
  project-canvas/electron/provider/general.ts
  project-canvas/electron/provider/index.ts
  project-canvas/electron/provider/login.ts
  project-canvas/src/components/CreateIssue/queryFunctions.ts
  project-canvas/src/components/login/jira-cloud/loginToJiraCloud.ts
  project-canvas/src/components/login/jira-server/Logout.ts
  project-canvas/src/components/login/jira-server/loginToJiraServer.ts
  project-canvas/src/components/projects-view/queryFetchers.ts
  project-canvas/src/renderer.d.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: pass parameters through preload
  project-canvas/electron/preload.ts
  project-canvas/src/components/login/jira-cloud/loginToJiraCloud.ts
  project-canvas/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: add sprints and issueInfo to electron backend
  project-canvas/electron/main.ts
  project-canvas/electron/preload.ts
  project-canvas/electron/provider/general.ts
  project-canvas/electron/provider/index.ts
  project-canvas/electron/provider/issueInfo.ts
  project-canvas/electron/provider/issues.ts
  project-canvas/electron/provider/sprints.ts
  project-canvas/src/components/CreateIssue/CreateIssueModal.tsx
  project-canvas/src/components/CreateIssue/queryFunctions.ts
  project-canvas/src/components/DetailView/helpers/queryFunctions.ts
  project-canvas/src/components/backlog-view/helpers/queryFetchers.ts
  project-canvas/src/components/projects-view/Table/ProjectsTable.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: completely migrate backend to electron
  project-canvas/electron/main.ts
  project-canvas/electron/preload.ts
  project-canvas/electron/provider/comments.ts
  project-canvas/electron/provider/general.ts
  project-canvas/electron/provider/index.ts
  project-canvas/electron/provider/issueInfo.ts
  project-canvas/electron/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-canvas/src/components/CreateIssue/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/AddSubtask/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/AssigneeMenu/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/Attachments/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/CommentSection/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/DeleteIssue/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/EditableEpic/queryFunctions.ts
  project-canvas/src/components/DetailView/Components/SubTask/queryFunctions.ts
  project-canvas/src/components/backlog-view/helpers/draggingHelpers.ts
  project-canvas/src/components/backlog-view/helpers/queryFetchers.ts
  project-canvas/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: remove project extender build in package json
  package.json
Due: prettier --write --list-different

rafactor: remove fake jira server
  fake-jira-server/README.md
  fake-jira-server/index.ts
  fake-jira-server/package.json
  fake-jira-server/tsconfig.json
  fake-jira-server/yarn.lock
  package.json
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: remove old extender
  project-canvas/package.json
  project-extender/LICENSE
  project-extender/babel.config.json
  project-extender/package.json
  project-extender/rollup.config.js
  project-extender/src/FastifyEnvConfig.ts
  project-extender/src/index.ts
  project-extender/src/providers/base-provider/BaseProvider.ts
  project-extender/src/providers/base-provider/index.ts
  project-extender/src/providers/jira-cloud-provider/JiraCloudProvider.ts
  project-extender/src/providers/jira-cloud-provider/getAccessToken.ts
  project-extender/src/providers/jira-cloud-provider/index.ts
  project-extender/src/providers/jira-server-provider/JiraServerProvider.ts
  project-extender/src/providers/jira-server-provider/index.ts
  project-extender/src/types/index.ts
  project-extender/src/types/jira.ts
  project-extender/tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: rename folders
  README.md
  project-canvas/.env.example
  project-canvas/src/App.tsx
  project-canvas/src/components/BacklogView/BacklogView.tsx
  project-canvas/src/components/BacklogView/CreateSprint/CreateSprint.tsx
  project-canvas/src/components/BacklogView/CreateSprint/CreateSprintModal.tsx
  project-canvas/src/components/BacklogView/CreateSprint/GoalInput.tsx
  project-canvas/src/components/BacklogView/CreateSprint/NameInput.tsx
  project-canvas/src/components/BacklogView/CreateSprint/SprintEndDatePicker.tsx
  project-canvas/src/components/BacklogView/CreateSprint/SprintStartDatePicker.tsx
  project-canvas/src/components/BacklogView/Issue/DeleteButton.tsx
  project-canvas/src/components/BacklogView/Issue/IssueCard.tsx
  project-canvas/src/components/BacklogView/Issue/IssueIcon.tsx
  project-canvas/src/components/BacklogView/IssuesWrapper/DraggableIssuesWrapper.tsx
  project-canvas/src/components/BacklogView/IssuesWrapper/SprintsPanel.tsx
  project-canvas/src/components/BacklogView/ReloadButton.tsx
  project-canvas/src/components/BacklogView/helpers/backlogHelpers.ts
  project-canvas/src/components/BacklogView/helpers/draggingHelpers.ts
  project-canvas/src/components/BacklogView/helpers/queryFetchers.ts
  project-canvas/src/components/BacklogView/helpers/resizeDivider.ts
  project-canvas/src/components/BacklogView/index.ts
  project-canvas/src/components/DetailView/Components/EditableEpic/EditableEpic.tsx
  project-canvas/src/components/DetailView/Components/EditableEpic/SelectItem.tsx
  project-canvas/src/components/DetailView/DetailView.tsx
  project-canvas/src/components/ProjectsView/ProjectsView.tsx
  project-canvas/src/components/ProjectsView/Table/ProjectsTable.tsx
  project-canvas/src/components/ProjectsView/Table/TableHeader.tsx
  project-canvas/src/components/ProjectsView/Table/TableHelper.ts
  project-canvas/src/components/ProjectsView/index.ts
  project-canvas/src/components/ProjectsView/queryFetchers.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

refactor: remove old env variables
  .github/workflows/build.yaml
  .github/workflows/dynamic_tests.yaml
  .github/workflows/release.yaml
  .github/workflows/static_tests.yaml
Due: none

refactor: rename login directory to Login
  project-canvas/src/components/Login/Login.test.tsx
  project-canvas/src/components/Login/Login.tsx
  project-canvas/src/components/Login/index.ts
  project-canvas/src/components/Login/jira-cloud/JiraCloudLogin.test.tsx
  project-canvas/src/components/Login/jira-cloud/JiraCloudLogin.tsx
  project-canvas/src/components/Login/jira-cloud/loginToJiraCloud.test.tsx
  project-canvas/src/components/Login/jira-cloud/loginToJiraCloud.ts
  project-canvas/src/components/Login/jira-server/JiraServerLogin.tsx
  project-canvas/src/components/Login/jira-server/LoginForm.tsx
  project-canvas/src/components/Login/jira-server/LoginFormValues.ts
  project-canvas/src/components/Login/jira-server/Logout.ts
  project-canvas/src/components/Login/jira-server/loginToJiraServer.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

fix: wrong path in logout button login
  project-canvas/src/components/layout/LogoutButton.tsx
Due: eslint --fix --max-warnings=0, prettier --write --list-different

update version
  project-canvas/package.json
Due: prettier --write --list-different

increment version to 1.1.0
  package.json
Due: prettier --write --list-different

update lock file
  yarn.lock
Due: none

Add axios as a dependency
  package.json
  yarn.lock
Due: prettier --write --list-different

Add jira cloud API clients
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Migrate trivial requests
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Migrate non-trivial issue functionality
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Resolve issues with default axios handlers
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Universally handle 401 errors
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Improve error handling
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Universally handle 400 errors
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Universally handle 429 errors
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Handle exposed resource through API client
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Universally handle generic 403 errors
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Add new Jira server API clients
  electron/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Migrate trivial Jira server calls to new API clients
  electron/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Migrate non-trivial issue fetching API requests
  electron/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Add implementation for current user
  electron/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Add implementation for assignable users by project
  electron/providers/jira-server-provider/JiraServerProvider.ts
Due: eslint --fix --max-warnings=0, prettier --write --list-different

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --list-different: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
