Repository MaibornWolff/ProjectCanvas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=3, prettier --write --list-different

Reconfigure staged linting
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.json
Due: prettier --write --list-different

Remove formatting check
  .github/workflows/static_tests.yaml
Due: none

Remove unused command
  package.json
Due: prettier --write --list-different

implemented search bar
  src/components/EpicView/EpicView.tsx
  src/components/EpicView/helpers/epicViewHelpers.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Upgrade to new husky version
  .husky/pre-commit
  package.json
Due: prettier --write --list-different

Only show done status in modal
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

implemented info and added close button
  src/components/CreateExport/CreateExportModal.tsx
  src/components/CreateExport/InfoButton.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

implemented conditional disable for export button + hover over tooltip
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Revamp working days calculation
  src/components/CreateExport/CreateExportModal.tsx
  src/components/CreateExport/exportHelper.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Implement skipping of weekends for working days calculation
  package.json
  src/components/CreateExport/exportHelper.ts
  yarn.lock
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Change text of date range filter
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

merged the branch + simplified it
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

ONE spelling mistake fixed
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

clearing dates fixed
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

bug from clearing dates fixed(pls work now)
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

cleaned code up (pls no new PR issues, I beg you)
  src/components/EpicView/EpicView.tsx
  src/components/EpicView/helpers/epicViewHelpers.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

implemented more efficient way for search bar(thank you Max for method)
  src/components/EpicView/helpers/epicViewHelpers.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

fixed unnecessary parenthese - last commit(hopefully)
  src/components/EpicView/helpers/epicViewHelpers.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

fixed clearable start and end date
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

fixed some issues
  src/components/CreateExport/CreateExportModal.tsx
  src/components/CreateExport/InfoButton.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

deleted info buttons as they aren´t needed anymore
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

fixed scuffed aligning
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Revamp core calculations in issue export (#128)
  package.json
  src/components/CreateExport/CreateExportModal.tsx
  src/components/CreateExport/exportHelper.ts
  yarn.lock
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Add search bar for epics (#126)
  src/components/EpicView/EpicView.tsx
  src/components/EpicView/helpers/epicViewHelpers.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Reconfigure basic CI steps to run on all branches with concurrency
  .github/workflows/build.yaml
  .github/workflows/dynamic_tests.yaml
  .github/workflows/static_tests.yaml
Due: none

Add export close button and move info icon (#125)
  src/components/CreateExport/CreateExportModal.tsx
  src/components/CreateExport/InfoButton.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Fix concurrency limits in GitHub actions
  .github/workflows/build.yaml
  .github/workflows/dynamic_tests.yaml
  .github/workflows/static_tests.yaml
Due: none

Conditionally disable export button (#127)
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Add a dependent-issues.yaml
  .github/workflows/dependent-issues.yaml
Due: none

Remove automatic run from the release CI and leave it to workflow dispatch
  .github/workflows/release.yaml
Due: none

Fix description for non-agile fetches in the cloud provider
  electron/providers/jira-cloud-provider/JiraCloudProvider.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Change name of modal to "Issue Export"
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Remove intermediate paper in modal
  src/components/CreateExport/CreateExportModal.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Fix in place reversion bug of changelog histories
  src/components/CreateExport/exportHelper.ts
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Fix delete button display
  src/components/BacklogView/Issue/IssueCard.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Fix delete button display for story cards
  src/components/StoryMapView/Cards/Base/DraggableBaseCard.tsx
  src/components/StoryMapView/Cards/CaseTitleCard.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Fix navigation upon deleting all story maps
  src/components/layout/StoryMapMenu.tsx
Due: eslint --fix --max-warnings=3, prettier --write --list-different

Remove automatic run from the release CI and leave it to workflow dispatch (#130)
  .github/workflows/release.yaml
Due: none

Path conditions:
  eslint --fix --max-warnings=3: any of: *.{js,jsx,ts,tsx}
  prettier --write --list-different: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
